{
  "description": "Uniqe web collectible ONE.", 
  "image": "image url", 
  "name": "nft name",
  "attributes": [
    {
      "trait_type": "Coolness", 
      "value": "zapredel'naya"
    }, 
    {
      "trait_type": "Type", 
      "value": "Emerald"
    }, 
    {
      "trait_type": "Lifetime(years)", 
      "value": 999
    }
  ]
}